@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nanum-square: var(--font-nanum-square);
  --font-nanum-square-bold: var(--font-nanum-square-bold);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply font-nanum-square;
}

/* CarouselSection 슬라이드 수직 중앙 정렬 */
.slider-container .slick-slide {
  height: auto;
}

.slider-container .slick-track {
  display: flex;
  align-items: center;
}

.slider-container .slick-slide > div {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container .slick-list {
  height: auto !important;
}
